form{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px;
}

img{
    width: 20vw;
    height: 20vh;
    border-radius: 10%;
}

button{
    border: none;
    border-radius: 10%;
    background-color: purple;
}