<!DOCTYPE html>
<html lang="es">
    <head>
        <title>admin</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos_inicio.css') }}">
    </head>
    <body>
        <div class="container" id="formContainer">
            <div class="login-form" id="loginForm">
                <h2>Panel de Administración</h2>
                <p> <strong> Bienvenido, administrador. Desde aquí puedes gestionar los productos y las categorías de la tienda. </strong></p>

                <a href="{{ url_for('crear_productos') }}">
                    <button>Crear productos</button>
                </a>

                <a href="{{ url_for('crear_categoria') }}">
                    <button>Crear categoría</button>
                </a>

                <a href="{{ url_for('mostrar_editar_producto') }}">
                    <button>Editar producto</button>
                </a>
                <a href="{{ url_for('Actualizar_usuario') }}">
                    <button>Actualizar Datos</button>
                </a>
                <a href="{{ url_for('editar_categoria') }}">
                    <button>Actualizar Categoria</button>
                </a>
                <a href="{{ url_for('ventas') }}">
                    <button>Productos Vendidos</button>
                </a>
                <a href="{{ url_for('ver_clientes') }}">
                    <button>Clientes</button>
                </a>
                <a href="{{ url_for('cerrar_sesion') }}">
                    <button>Cerrar Sesion</button>
                </a>
            </div>
        </div>
    </body>
</html>
