<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>editar productos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos_catalogo.css') }}">
</head>
<body>
<header>
    <div class="contenedor_logo">
        <div class="Logo">
            <img src="{{ url_for('static', filename='css/multimedia/logo.png') }}" alt="Logo Creaciones Esmir">
        </div>
    </div>

    <nav>
        <a href="{{ url_for('catalogo') }}">Atrás</a>
    </nav>
</header>

    <div class="container">
        <h2>Carrito de compras</h2>
        <div class="product-grid" id="productGrid">
            <div class="product-card">
                {% for item in datos %}
                    <img src="{{ url_for('static', filename='productos/' + item.producto.imagen) }}" alt="">
                    <p>{{ item.producto.nombre_producto}}</p>
                    <p>{{ item.talla.nombre_talla }}</p>
                    <p>{{ item.detalle.cantidad }}</p>
                    <p>{{ item.producto.precio }}</p>
                    <p>----------------------------</p>
                {% endfor %}
            
            <p>deberas realizar el pago al siguiente numero de nequi y se tomara su pedido,
                 en la descripcion deberas mandar tu nombre y numero de cedula</p><br>
            <p>aca ira el numero de nequi</p><br>
            <p>si el pedido no se ve reflejado en el nequi no se tomara el pedido</p><br>
            <p>total a pagar {{acumulador}}</p><br>
            {%if datos%}
                <a href="{{ url_for('compra') }}"><button id="Menu_boton">Pagar</button></a>
            {%endif%}
    </div>

    <footer>
        <p>&copy; 2025 Creaciones Esmir. Todos los derechos reservados.</p>
    </footer>

</body>
</html>