<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos_catalogo.css') }}">
</head>
<body>
    <header>
        <div class="contenedor_logo">
            <div class="Logo">
                <img src="{{ url_for('static', filename='css/multimedia/logo.png') }}" alt="Logo Creaciones Esmir">
            </div>
        </div>
        <nav>
            <a href="{{ url_for('catalogo') }}"><button class="botoncitouwu">Atrás</button></a>
            <a href="{{ url_for('limpiar') }}"><button class="botoncitouwu">Limpiar Carrito</button></a>
        </nav>
    </header>

    <div class="container">
        <h2>Carrito de Compras</h2>
        <div class="product-grid" id="productGrid">
            {% for item in datos %}
                <div class="product-card">
                    <img src="{{ url_for('static', filename='productos/' + item.producto.imagen) }}" alt="">
                    <p>{{ item.producto.nombre_producto }}</p>
                    <p>{{ item.talla.nombre_talla }}</p>
                    <p>Cantidad: {{ item.detalle.cantidad }}</p>
                    <p>Precio: ${{ item.producto.precio }}</p>
                    <p>----------------------------</p>
                </div>
            {% else %}
                <div>
                    <h3>Tu carrito de compras está vacío.</h3>
                </div>
            {% endfor %}
        </div>

        <h2>Resumen de Compra</h2>
        <p>Deberás realizar el pago al siguiente número de Nequi. En la descripción, por favor, envía tu nombre completo y número de cédula para que tu pedido sea tomado en cuenta.</p><br>
        <p><strong>Número de Nequi:</strong> ACA IRA EL NÚMERO DE NEQUI</p><br>
        <p>Si el pedido no se ve reflejado en el Nequi, no se tomará el pedido.</p><br>
        <p><strong>Total a pagar:</strong> ${{ acumulador }}</p><br>

        {% if datos %}
            <a href="{{ url_for('compra') }}"><button class="botoncitouwu">Pagar</button></a>
        {% endif %}
    </div>
</body>
</html>
