<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar productos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos_inicio.css') }}">
</head>
<body>
    <div class="container" id="formContainer">
        <div class="login-form" id="loginForm">
            {% if aviso %}
                <p style="color:red;">{{ aviso }}</p>
            {% endif %}

            <form id="login" action="/update_cat" method="POST" enctype="multipart/form-data">
                {% for cat in categoria %}
                        <button name="id_categoria" value="{{ cat.id_categoria }}" type="submit">{{cat.nombre_categoria}}</button>
                {% endfor %}
            </form>
            <p class="toggle-text"><a href="#" id="redirect">Atras</a></p>
        </div>
    </div>
    <script>
        const redirect = document.getElementById('redirect');

        redirect.addEventListener('click', (e) => {
            window.location.href = "/admin";
        });
    </script>
</body>
</html>
