<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>editar productos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos_editar.css') }}">
</head>
<body>
    <p>deberas realizar el pago al siguiente numero de nequi y se tomara su pedido</p>
    <p>aca ira el numero de nequi</p>
    <p>si el pedido no se ve reflejado en el nequi no se tomara el pedido</p>
    <p>total a pagar {{acumulador}}</p>
</body>