<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear productos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos_inicio.css') }}">
</head>
<body>
    <div class="container" id="formContainer">
        <div class="login-form" id="loginForm">
            <h2>Crear productos</h2>
            {% if aviso %}
                <p style="color:red;">{{ aviso }}</p>
            {% endif %}
        <form id="login" action="/ingresar_productos" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="nombrep">Nombre del producto</label>
                <input type="text" id="nombrep" name="nombrep" required>
            </div>

            <div class="form-group">
                <label for="imagen">Imagen del producto</label>
                <input type="file" name="imagenp" accept="image/*" required>
            </div>

            <div class="form-group">
                <label for="descripcion">Descripción del producto</label>
                <input type="text" id="descripcion" name="descripcionp" required>
            </div>

            <div class="form-group">
                <label>Categorías:</label><br>
                {% for cat in categorias %}
                    <input type="checkbox" name="categorias" value="{{ cat.id_categoria }}"> {{ cat.nombre_categoria }}<br>
                {% endfor %}
            </div>

            <div class="form-group">
                <label for="precio">Precio del producto</label>
                <input type="number" id="precio" name="preciop" min="1" required>
            </div>

            <div class="form-group">
                <label>Tallas disponibles:</label><br>
                {% for talla in tallas %}
                    <input type="checkbox" class="talla-checkbox" name="tallas" value="{{ talla.id_talla }}" data-talla="{{ talla.nombre_talla }}">
                {{ talla.nombre_talla }}<br>
                {% endfor %}
            </div>

            <div id="contenedor-cantidades">

            </div>

            <button type="submit">Crear</button>
            <p class="toggle-text">¿Deseas editar otro? <a href="#" id="redirect">Elegir otro Producto</a></p>
        </form>

<script>
    const checkboxes = document.querySelectorAll('.talla-checkbox');
    const contenedorCantidades = document.getElementById('contenedor-cantidades');
    const redirect = document.getElementById('redirect');

        redirect.addEventListener('click', (e) => {
            window.location.href = "/admin";
        });

    checkboxes.forEach(chk => {
    chk.addEventListener('change', () => {
        const tallaId = chk.value;
        const nombreTalla = chk.dataset.talla;

        if (chk.checked) {
            const div = document.createElement('div');
            div.id = 'cantidad_' + tallaId;
            div.innerHTML = `
                <label>Cantidad para talla ${nombreTalla}:</label>
                <input type="number" name="cantidad_${tallaId}" min="0" required>
            `;
            contenedorCantidades.appendChild(div);
        } else {
            const inputDiv = document.getElementById('cantidad_' + tallaId);
            if (inputDiv) {
                contenedorCantidades.removeChild(inputDiv);
            }
        }
    });
});
</script>
</body>
</html>