<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar productos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos_inicio.css') }}">
</head>
<body>
    <div class="container" id="formContainer">
        <div class="login-form" id="loginForm">
            {% if aviso %}
                <p style="color:red;">{{ aviso }}</p>
            {% endif %}

            <form id="login" action="/actualizar_cat" method="POST" enctype="multipart/form-data">

                <div class="form-group">
                    <label for="nombrec">Nombre de categoria</label>
                    <input type="text" id="nombrec" name="nombrec" value="{{ categoria.nombre_categoria }}" required>
                </div>
                <button name="idcat" value="{{ categoria.id_categoria }}" type="submit">Guardar</button>
            </form>
            <p class="toggle-text"><a href="#" id="redirect">Atras</a></p>
        </div>
    </div>
    <script>
        const redirect = document.getElementById('redirect');

        redirect.addEventListener('click', (e) => {
            window.location.href = "/editar_categoria";
        });
    </script>
</body>
</html>
