<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>editar productos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos_editar.css') }}">
</head>
<body>
    <div id="Titulo_div"> <h1>Haz clic en el producto que deseas actualizar</h1></div>
    <a href="{{ url_for('admin') }}"><button id="Menu_boton">Volver al menú principal</button></a>
    <div>
        <form action='/editar_producto' method="post">
            {% for pro in productos %}
             <button type="submit" name="id_p" value="{{pro.id_producto}}">
                <img src="{{ url_for('static', filename='productos/' + pro.imagen) }}" >
                <h2>{{pro.nombre_producto}}</h2>
                <p>{{pro.descripcion}}</p>
            </button>
            {% endfor %}
        </form>
    </div>
</body>
</html>