<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar productos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos_inicio.css') }}">
</head>
<body>
    <div class="container" id="formContainer">
        <div class="login-form" id="loginForm">
            <h2>{{ 'Editar' if producto else 'Crear' }} producto</h2>           
            
            {% if aviso %}
                <p style="color:red;">{{ aviso }}</p>
            {% endif %}

            <form id="login" action="/actualizar" method="POST" enctype="multipart/form-data">
                
                <div class="form-group">
                    <label for="nombrep">Nombre del producto</label>
                    <input type="text" id="nombrep" name="nombrep" 
                        value="{{ producto.nombre_producto if producto else '' }}" 
                        required>
                </div>

                <div class="form-group">
                    <label for="imagen">Imagen</label>
                    <input type="file" name="imagenp" accept="image/*" {% if not producto %} required {% endif %}>
                    {% if producto %}
                        <p>Imagen actual:<br></p>
                        <img src="{{ url_for('static', filename='productos/' + producto.imagen) }}" style="width: 10vw; height: 10vh;">
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="cantidad">Cantidad</label>
                    <input type="number" id="cantidad" name="cantidadp" 
                        value="{{ producto.cantidad if producto else '' }}" 
                        required min="0">
                </div>

                <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <input type="text" id="descripcion" name="descripcionp" 
                        value="{{descripcion.descripcion if producto else '' }}" 
                        required>
                </div>

                <div class="form-group">
                    <label for="categoria">Categoría</label>
                    <select name="categoria" required>
                        <option value="" disabled {% if not producto %} selected {% endif %}>Seleccione una categoría</option>
                        {% for cat in categorias %}
                            <option value="{{ cat.id_categoria }}" 
                            {% if producto and producto.id_categoria == cat.id_categoria %} selected {% endif %}>
                                {{ cat.nombre_categoria }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="precio">Precio</label>
                    <input type="number" id="precio" name="preciop" 
                        value="{{ producto.precio if producto else '' }}" 
                        required min="1" step="0.01">
                </div>

                <button name="id_producto" value="{{producto.id_producto}}" type="submit">Guardar</button>
                <p class="toggle-text">¿Deseas editar otro? <a href="#" id="redirect">Elegir otro Producto</a></p>
            </form>
        </div>
    </div>
    <script>
        const redirect = document.getElementById('redirect');

        redirect.addEventListener('click', (e) => {
            window.location.href = "/mostrar_editar_producto";
        });
    </script>
</body>
</html>
