<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial de Compras</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos_catalogo.css') }}">
</head>
<body>
    <header>
        <div class="contenedor_logo">
            <div class="Logo">
                <img src="{{ url_for('static', filename='css/multimedia/logo.png') }}" alt="Logo Creaciones Esmir">
            </div>
        </div>
        <nav>
            <a href="{{ url_for('admin') }}">Atras</a>
        </nav>
    </header>

    <div id="container">
        <h2>Historial de Compras</h2>
        <div class="product-grid" id="productGrid">
            {% for item in datos %}
            <div class="product-card">
                <p><strong>Nombre del producto:</strong> {{ item.historial.nombre_producto }}</p>
                <p><strong>Talla:</strong> {{ item.historial.talla }}</p>
                <p>
                    <strong>Cantidad:</strong> 
                    <span class="cantidad">{{ item.historial.cantidad }}</span>
                </p>
                <p>
                    <strong>Precio unitario:</strong> 
                    $<span class="precio">{{ item.historial.precio_producto }}</span>
                </p>
                <p>
                    <strong>Total:</strong> 
                    $<span class="total-producto">{{ item.historial.precio_producto * item.historial.cantidad}}</span>
                </p>
                <hr>
            </div>
            {% else %}
                <div class="no-purchases-message">
                    <p>No hay compras registradas.</p>
                </div>
            {% endfor %}
        </div>
    </div>

    <script>
        const productCards = document.querySelectorAll('.product-card');

        productCards.forEach(card => {
            const precioElement = card.querySelector('.precio');
            const cantidadElement = card.querySelector('.cantidad');
            const totalElement = card.querySelector('.total-producto');

            if (precioElement && cantidadElement && totalElement) {
                let precio = parseFloat(precioElement.textContent);
                let cantidad = parseInt(cantidadElement.textContent);
                let total = 0;

                if (!isNaN(precio) && !isNaN(cantidad)) {
                    total = precio * cantidad;
                }

                totalElement.textContent = total.toFixed(2);
            }
        });
    </script>
</body>
</html>