<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creaciones Esmir</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <div class="contenedor_logo">
            <div class="logo">
                <span><img src="https://sdmntprnorthcentralus.oaiusercontent.com/files/00000000-ccb4-622f-b93c-0fe8013ce9b2/raw?se=2025-05-08T13%3A52%3A24Z&sp=r&sv=2024-08-04&sr=b&scid=00000000-0000-0000-0000-000000000000&skoid=bbd22fc4-f881-4ea4-b2f3-c12033cf6a8b&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-05-08T00%3A28%3A48Z&ske=2025-05-09T00%3A28%3A48Z&sks=b&skv=2024-08-04&sig=D%2Bg70KsJ8StIkJV79cLKbk6Ej4JG9oZh3P%2BoVaGfFP8%3D" alt="Logo"></span>
            </div>
            <span class="logo-texto">Creaciones Esmir</span>
        </div>
        <nav>
            <ul>
                <li><a href="#">Buscar</a></li>
                <li><a href="catalogo.html">Catálogo</a></li>
                <li><a href="#">Iniciar sesión</a></li>
                <li><a href="#">Registrarse</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="contenedor_videito">
            <video src="https://cdn.pixabay.com/video/2019/04/05/22599-328624855_large.mp4" autoplay loop muted></video>
        </div>
        <div class="titulo_principal">
            <h1>CREACIONES ESMIR</h1>
        </div>
    </main>
</body>
</html>