<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creaciones Esmir</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <div class="contenedor_logo">
            <div class="logo">
                <img class="img" src="{{ url_for('static', filename='css/multimedia/logo.png') }}" alt="Logo">
            </div>
            <span class="logo-texto">Creaciones Esmir</span>
        </div>
        <nav>
            <ul class="menu-nav">
                <li>
                    <a href="{{ url_for('catalogo') }}">
                        <img src="{{ url_for('static', filename='css/multimedia/Catalogo.png') }}"
                            alt="Catálogo"
                            class="icono-nav"
                            title="Catálogo" />
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('inicio_sesion') }}">
                        <img src="{{ url_for('static', filename='css/multimedia/Sesion.png') }}"
                            alt="Iniciar sesión"
                            class="icono-nav"
                            title="Iniciar sesión" />
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('inicio_sesion') }}">
                        <img src="{{ url_for('static', filename='css/multimedia/Registrar.png') }}"
                            alt="Registrarse"
                            class="icono-nav"
                            title="Registrarse" />
                    </a>
                </li>
                {% if cedula %}
                <li>
                    <a href="{{ url_for('cerrar_sesion') }}">
                        <img src="{{ url_for('static', filename='css/multimedia/cerrars.png') }}"
                            alt="Cerrar sesion"
                            class="icono-nav"
                            title="Cerrar Sesion" />
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('Actualizar_usuario') }}">
                        <img src="{{ url_for('static', filename='css/multimedia/update.png') }}"
                            alt="Actualizar Datos"
                            class="icono-nav"
                            title="Actualizar Datos" />
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div class="contenedor_videito">
            <video src="https://cdn.pixabay.com/video/2019/04/05/22599-328624855_large.mp4" autoplay loop muted></video>
        </div>
        <div class="titulo_principal">
            <h1>CREACIONES ESMIR</h1>
        </div>
    </main>
</body>
</html>
