<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial de Productos Vendidos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos_catalogo.css') }}">
</head>
<body>
    <header>
        <div class="contenedor_logo">
            <div class="Logo">
                <img src="{{ url_for('static', filename='css/multimedia/logo.png') }}" alt="Logo Creaciones Esmir">
            </div>
        </div>
        <nav>
            <a href="{{ url_for('catalogo') }}">Atras</a>
        </nav>
    </header>
    <div id="container">
        <div class="product-grid" id="productGrid"></div>
          {% for item in datos %}
             <div class="product-card">
                    <p>Nombre: {{item.Cliente.nombre}}  {{item.Cliente.apellido}}<br>  Numero de documento: {{item.Cliente.cedula}} <br>Correo electronico: {{item.Cliente.correo}}</p>
                    <form action="/historial_clientes" method="POSt">
                    <button value="{{item.Cliente.cedula}}" name="cedulac"> historial de compras</button>
                    </form>
             </div>
         {% else %}
             <p>No hay usuarios registrados.</p>
         {% endfor %}
        </div>
    </div>

    <script>
        const redirect = document.getElementById('redirect');

        redirect.addEventListener('click', (e) => {
            window.location.href = "/admin";
        });
    </script>
</body>
</html>