<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial de Productos Vendidos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos_editar.css') }}">
</head>
<body>
    <h1>Usuarios</h1>
    <a href="#" id="redirect">Atras</a></p>

    <div id="compras-container">
        {% for item in datos %}
            <div class="item">
                   <p>Nombre: {{item.Cliente.nombre}}  {{item.Cliente.apellido}}<br>  Numero de documento: {{item.Cliente.cedula}} <br>Correo electronico: {{item.Cliente.correo}}</p>
                   <form action="/historial_clientes" method="POSt">
                    <button value="{{item.Cliente.cedula}}" name="cedulac"> compras</button>
                   </form>
                   <p>---------------------------------------------------------------------------------------------------</p>
            </div>
        {% else %}
            <p>No hay usuarios registrados.</p>
        {% endfor %}
    </div>

    <script>
        const redirect = document.getElementById('redirect');

        redirect.addEventListener('click', (e) => {
            window.location.href = "/admin";
        });
    </script>
</body>
</html>